# Instructions: Save a copy of this file as yourusername.ipynb
- Copy the template.ipynb file to a new file. Do not edit the template.ipynb file.
- Name the new file: <I><B>yourusername.ipynb</I></B>
- This will create a copy of the template.ipynb file.
- This will add this new file to the repo when we take proper steps using 'git' and 'GitHub'

Next, run all the cells in the Notebook to learn how to do new operations with a SQL database.

### SQL Databases: Perfoming CRUD Activities (Create, Read, Update, Delete)
Last activity, we only read records from a table using the SELECT statement in SQL.  Today, we'll do other important functions:
- Create a record
- Delete a record
- Update a record

Be a little careful, as you have full privledges on the database named 'gse'.  This is a sandbox environment, so if you accidentally delete something, we can always rebuild it.

In [1]:
# Import libraries
#import pandas as pd # Not going to use it this week
#import numpy as np # Not going to use it this week
import boto3
import mysql.connector

In [2]:
# Initialize boto3 and make sure credentials are ready connect to AWS. 
# These credentials come from using the 'aws configure' command.
session = boto3.Session()
sts = session.client('sts')
response = sts.get_caller_identity()
my_username = response['Arn'].split('/')[1]
print(my_username)

dlov

#### Insert records into a SQL database

In [3]:
# Define parameters to query a cloud-based MySQL server. 
HOST = '34.222.176.125'  # This is our Aurora database in AWS
# Credentials you'll use on the MySQL Server. These are not the same as AWS credentials.
USER = 'gse'
PASSWORD = 'Student42'
# Which database to query
DATABASE = 'gse'
PORT = '80'

In [4]:
# Connect to the db by creating a 'connector' called conn
conn = mysql.connector.connect(
    host = HOST,
    port = PORT,
    user = USER,
    password = PASSWORD,
    database = DATABASE)

In [5]:
# Next, we need to create a cursor object to query data. This is just part of the process.
mycursor = conn.cursor()

In [6]:
# List the tables are in the 'gse' database
query = "SHOW TABLES"
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[('students',)]

In [7]:
# Select everything from the students table
query = "SELECT * FROM students"
# Same pattern
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[(11, 'student1', 'student1@calpoly.edu'),
 (15, 'student2', 'student2@calpoly.edu'),
 (18, 'mjordan', 'mjordan@calpoly.edu'),
 (20, 'lbird', 'lbird@calpoly.edu'),
 (21, 'dr_j', 'dr_j@calpoly.edu'),
 (22, 'mjohson', 'mjohson@calpoly.edu'),
 (23, 'kjabbar', 'kjabbar@calpoly.edu'),
 (24, 'drodman', 'drodman@calpoly.edu'),
 (25, 'blaimbeer', 'bill_laimbeer@gmail.com')]

In [8]:
# List the columns in the students table
query = "DESCRIBE students"
# Same pattern
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('username', 'varchar(100)', 'NO', 'UNI', None, ''),
 ('email', 'varchar(100)', 'NO', '', None, '')]

#### Notice the 'username' column has the 'UNI' constraint. It must be unique in the table.

### Insert a record into the database. Make note of the new line in the code: conn.commit().

In [9]:
# Insert your own record into the students table
# my_username  is defined above
email = my_username + '@calpoly.edu'
# Define the query
#insert_var = "Hello {} and {} I'm Pytutorial I'm {} years old".format(variable_1, variable_2, age)
query = "INSERT INTO students (username, email) VALUES ('{}', '{}')".format(my_username,email)
print(query)
# Run the query
mycursor.execute(query)
# Commit the insert to the database connection. This is requred to insert, update or delete a record
conn.commit()
myresult = mycursor.fetchall()
myresult

INSERT INTO students (username, email) VALUES ('dlov', 'dlov@calpoly.edu')

[]

### Do you see your record?

In [10]:
query = "SELECT * FROM students"
# Run the query
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[(11, 'student1', 'student1@calpoly.edu'),
 (15, 'student2', 'student2@calpoly.edu'),
 (18, 'mjordan', 'mjordan@calpoly.edu'),
 (20, 'lbird', 'lbird@calpoly.edu'),
 (21, 'dr_j', 'dr_j@calpoly.edu'),
 (22, 'mjohson', 'mjohson@calpoly.edu'),
 (23, 'kjabbar', 'kjabbar@calpoly.edu'),
 (24, 'drodman', 'drodman@calpoly.edu'),
 (25, 'blaimbeer', 'bill_laimbeer@gmail.com'),
 (32, 'dlov', 'dlov@calpoly.edu')]

### Find the id number of your record. Then delete that record. (Please don't delete other records.)

In [12]:
# Find the id of your record and delete it.
query = "DELETE FROM students WHERE id = "  # You must type your id into this query.
# Run the query
mycursor.execute(query)
conn.commit()
myresult = mycursor.fetchall()
myresult

ProgrammingError: 1054 (42S22): Unknown column 'dlov' in 'where clause'

### Is your record gone?

In [77]:
query = "SELECT * FROM students"
# Run the query
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[(11, 'student1', 'student1@calpoly.edu'),
 (15, 'student2', 'student2@calpoly.edu'),
 (18, 'mjordan', 'mjordan@calpoly.edu'),
 (20, 'lbird', 'lbird@calpoly.edu'),
 (21, 'dr_j', 'dr_j@calpoly.edu'),
 (22, 'mjohson', 'mjohson@calpoly.edu'),
 (23, 'kjabbar', 'kjabbar@calpoly.edu'),
 (24, 'drodman', 'drodman@calpoly.edu'),
 (25, 'blaimbeer', 'bill_laimbeer@gmail.com'),
 (30, 'kcolvin', 'kcolvin@calpoly.edu')]

### Insert your record again. You'll get a new id number.

In [ ]:
# Insert your record again.
# my_username  is defined above
email = my_username + '@calpoly.edu'
# Define the query
#insert_var = "Hello {} and {} I'm Pytutorial I'm {} years old".format(variable_1, variable_2, age)
query = "INSERT INTO students (username, email) VALUES ('{}', '{}')".format(my_username,email)
print(query)
# Run the query
mycursor.execute(query)
# Commit the insert to the database connection. This is requred to insert, update or delete a record
conn.commit()
myresult = mycursor.fetchall()
myresult

INSERT INTO students (username, email) VALUES ('kcolvin', 'kcolvin@calpoly.edu')

[]

In [ ]:
query = "SELECT * FROM students"
# Run the query
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[(11, 'student1', 'student1@calpoly.edu'),
 (15, 'student2', 'student2@calpoly.edu'),
 (18, 'mjordan', 'mjordan@calpoly.edu'),
 (20, 'lbird', 'lbird@calpoly.edu'),
 (21, 'dr_j', 'dr_j@calpoly.edu'),
 (22, 'mjohson', 'mjohson@calpoly.edu'),
 (23, 'kjabbar', 'kjabbar@calpoly.edu'),
 (24, 'drodman', 'drodman@calpoly.edu'),
 (25, 'blaimbeer', 'bill_laimbeer@gmail.com'),
 (30, 'kcolvin', 'kcolvin@calpoly.edu')]

### Update your record with a new email address. You must know your id for the update query.

In [ ]:
query = "UPDATE students SET email = 'XXXX@XXX.com' WHERE id = XX" # Update this line with your new email address and id.
print(query)
# Run the query
mycursor.execute(query)
# Commit the insert to the database connection. This is requred to insert, update or delete a record
conn.commit()
myresult = mycursor.fetchall()
myresult

UPDATE students SET email = 'kurt.w.colvin@gmail.com' WHERE id = 30

[]

In [ ]:
query = "SELECT * FROM students"
# Run the query
mycursor.execute(query)
myresult = mycursor.fetchall()
myresult

[(11, 'student1', 'student1@calpoly.edu'),
 (15, 'student2', 'student2@calpoly.edu'),
 (18, 'mjordan', 'mjordan@calpoly.edu'),
 (20, 'lbird', 'lbird@calpoly.edu'),
 (21, 'dr_j', 'dr_j@calpoly.edu'),
 (22, 'mjohson', 'mjohson@calpoly.edu'),
 (23, 'kjabbar', 'kjabbar@calpoly.edu'),
 (24, 'drodman', 'drodman@calpoly.edu'),
 (25, 'blaimbeer', 'bill_laimbeer@gmail.com'),
 (30, 'kcolvin', 'kurt.w.colvin@gmail.com')]

### That's it. Now we can fully Create, Read, Update and Delete records in a SQL database.  We can CRUD!

# Assignment: 
- Make sure you edit the README.md file included in this repo.
- In that file, add your username to the list of contributors to the repo. Just follow the example. Make sure you include the Markdown tags.
- Save your work in both files: README.md and this yourusername.ipynb file.
- At the CLI (the terminal in SageMaker Studio Lab), enter the required commands to add, commit and push your changes to the GitHub repo.